// This file is used to configure the colors and the max page size.
$max-width: 80rem;
$color--secondary: #4E342E;
$color--secondary-font: #FFEB3B;
$color--default-font: #363636;

$color--link-default: #2196F3;
$color--link-hover: #3F51B5;
